In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [0]:
spark = SparkSession.builder.appName('Coding_assisment').getOrCreate()

In [0]:
# Dataframe 1
Data1=[(1, "Pratik", 22, "Nashik"),
       (2, "Vikas", 24, "Pune"),
       (3, "Rushi", 23, "Chicago")]
Header1=["ID", "Name", "Age", "City"]
df1=spark.createDataFrame(Data1, Header1)
df1.show()

+---+------+---+-------+
| ID|  Name|Age|   City|
+---+------+---+-------+
|  1|Pratik| 22| Nashik|
|  2| Vikas| 24|   Pune|
|  3| Rushi| 23|Chicago|
+---+------+---+-------+

In [0]:
#DataFrame 2
Data2 = [(1, "Data Engineer", 4000000),
         (2, "Software Developer", 3500000),
         (3, "Tester", 2000000)]
Header2 = ["ID", "Role", "Salary"]
df2=spark.createDataFrame(Data2, Header2)
df2.show()

+---+------------------+-------+
| ID|              Role| Salary|
+---+------------------+-------+
|  1|     Data Engineer|4000000|
|  2|Software Developer|3500000|
|  3|            Tester|2000000|
+---+------------------+-------+

In [0]:
# Manipulating data 

newData=(4,"Yogita",30, "Nashik")
df1 = df1.union(spark.createDataFrame([newData]))
df1.show()

+---+------+---+-------+
| ID|  Name|Age|   City|
+---+------+---+-------+
|  1|Pratik| 22| Nashik|
|  2| Vikas| 24|   Pune|
|  3| Rushi| 23|Chicago|
|  4|Yogita| 30| Nashik|
+---+------+---+-------+

In [0]:
# Sorting the Dataframe 1 by age and Dataframe 2 by salary

sorted_df1 = df1.orderBy("Age")
sorted_df2 = df2.orderBy(col("Salary").desc())
print("Sorted DataFrame1 by Age in Ascending Order:")
sorted_df1.show()
print("Sorted Dataframe3 by Salary in Descending Order:")
sorted_df2.show()

Sorted DataFrame1 by Age in Ascending Order:
+---+------+---+-------+
| ID|  Name|Age|   City|
+---+------+---+-------+
|  1|Pratik| 22| Nashik|
|  3| Rushi| 23|Chicago|
|  2| Vikas| 24|   Pune|
|  4|Yogita| 30| Nashik|
+---+------+---+-------+

Sorted Dataframe3 by Salary in Descending Order:
+---+------------------+-------+
| ID|              Role| Salary|
+---+------------------+-------+
|  1|     Data Engineer|4000000|
|  2|Software Developer|3500000|
|  3|            Tester|2000000|
+---+------------------+-------+

In [0]:
# Joining two Dataframes bases on the ID column ( INNER JOIN )

joined_df = df1.join(df2, "ID", "inner")
print("Joined DataFrame1 and Dataframe2:")
joined_df.show()

Joined DataFrame1 and Dataframe2:
+---+------+---+-------+------------------+-------+
| ID|  Name|Age|   City|              Role| Salary|
+---+------+---+-------+------------------+-------+
|  1|Pratik| 22| Nashik|     Data Engineer|4000000|
|  2| Vikas| 24|   Pune|Software Developer|3500000|
|  3| Rushi| 23|Chicago|            Tester|2000000|
+---+------+---+-------+------------------+-------+

In [0]:
# Group by Dataframe to count the total employee from each City

grouped_df = df1.groupBy("City").count()
print("Grouped DataFrame:")
grouped_df.show()

Grouped DataFrame:
+-------+-----+
|   City|count|
+-------+-----+
| Nashik|    2|
|   Pune|    1|
|Chicago|    1|
+-------+-----+

In [0]:
# Aggregations
# Grand Total Salary 
Grand_total=df2.groupBy().sum("Salary")
print("Grand Total: ")
Grand_total.show()

# Calulate City wise Avarage age of emplyees 
Avg_age=df1.groupBy().avg("Age")
print("City wise Avg age: ")
Avg_age.show()

Grand Total:
+-----------+
|sum(Salary)|
+-----------+
|    9500000|
+-----------+

City wise Avg age:
+--------+
|avg(Age)|
+--------+
|   24.75|
+--------+

In [0]:
# Droping a column city from DataFrame1
Droped_df1=df1.drop("City")
print("New DataFrame1: ")
Droped_df1.show()

New DataFrame1:
+---+------+---+
| ID|  Name|Age|
+---+------+---+
|  1|Pratik| 22|
|  2| Vikas| 24|
|  3| Rushi| 23|
|  4|Yogita| 30|
+---+------+---+