In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName('Coding_assisment').getOrCreate()

In [0]:
# Creating DataBase

spark.sql("CREATE DATABASE IF NOT EXISTS Student_info")

Out[3]: DataFrame[]

In [0]:
# Creating Tables

spark.sql("CREATE TABLE if not exists Student_info.Students (Roll_no Int, Name String, Course_id Int)")
spark.sql("CREATE TABLE if not exists Student_info.Courses (Course_name String, Course_id Int)")
spark.sql("Select * from Student_info.Students").show()
spark.sql("Select * from Student_info.Courses").show()

+-------+----+---------+
|Roll_no|Name|Course_id|
+-------+----+---------+
+-------+----+---------+

+-----------+---------+
|Course_name|Course_id|
+-----------+---------+
+-----------+---------+

In [0]:
# Inserting Dummy Data

spark.sql("INSERT INTO Student_info.Students (Roll_no, Name, Course_id) VALUES\
(1, 'Amit Kumar', 101),\
(2, 'Priya Patel', 102),\
(3, 'Rahul Sharma', 103),\
(4, 'Neha Gupta', 104),\
(5, 'Sandeep Singh', 105);")

spark.sql("INSERT INTO Student_info.Courses (Course_name, Course_id) VALUES\
('Computer Science', 101),\
('Electrical Engineering', 102),\
('Mechanical Engineering', 103),\
('Civil Engineering', 104),\
('Mathematics', 105),\
('Physics', 106),\
('Chemistry', 107);")

+-------+-------------+---------+
|Roll_no|         Name|Course_id|
+-------+-------------+---------+
|      1|   Amit Kumar|      101|
|      2|  Priya Patel|      102|
|      3| Rahul Sharma|      103|
|      4|   Neha Gupta|      104|
|      5|Sandeep Singh|      105|
+-------+-------------+---------+

+--------------------+---------+
|         Course_name|Course_id|
+--------------------+---------+
|    Computer Science|      101|
|Electrical Engine...|      102|
|Mechanical Engine...|      103|
|   Civil Engineering|      104|
|         Mathematics|      105|
|             Physics|      106|
|           Chemistry|      107|
+--------------------+---------+

In [0]:
# After Inserting Records

spark.sql("Select * from Student_info.Students").show()
spark.sql("Select * from Student_info.Courses").show()

+-------+-------------+---------+
|Roll_no|         Name|Course_id|
+-------+-------------+---------+
|      1|   Amit Kumar|      101|
|      2|  Priya Patel|      102|
|      3| Rahul Sharma|      103|
|      4|   Neha Gupta|      104|
|      5|Sandeep Singh|      105|
+-------+-------------+---------+

+--------------------+---------+
|         Course_name|Course_id|
+--------------------+---------+
|    Computer Science|      101|
|Electrical Engine...|      102|
|Mechanical Engine...|      103|
|   Civil Engineering|      104|
|         Mathematics|      105|
|             Physics|      106|
|           Chemistry|      107|
+--------------------+---------+

In [0]:
# Performing Joins 
#inner Join
spark.sql("SELECT * FROM Student_info.Students INNER JOIN Student_info.Courses\
          ON Student_info.Students.Course_id = Student_info.Courses.Course_id" ).show()

+-------+-------------+---------+--------------------+---------+
|Roll_no|         Name|Course_id|         Course_name|Course_id|
+-------+-------------+---------+--------------------+---------+
|      1|   Amit Kumar|      101|    Computer Science|      101|
|      2|  Priya Patel|      102|Electrical Engine...|      102|
|      3| Rahul Sharma|      103|Mechanical Engine...|      103|
|      4|   Neha Gupta|      104|   Civil Engineering|      104|
|      5|Sandeep Singh|      105|         Mathematics|      105|
+-------+-------------+---------+--------------------+---------+

In [0]:
# Left Join

spark.sql("SELECT * FROM Student_info.Students LEFT JOIN Student_info.Courses\
          ON Student_info.Students.Course_id = Student_info.Courses.Course_id" ).show()

+-------+-------------+---------+--------------------+---------+
|Roll_no|         Name|Course_id|         Course_name|Course_id|
+-------+-------------+---------+--------------------+---------+
|      1|   Amit Kumar|      101|    Computer Science|      101|
|      2|  Priya Patel|      102|Electrical Engine...|      102|
|      3| Rahul Sharma|      103|Mechanical Engine...|      103|
|      4|   Neha Gupta|      104|   Civil Engineering|      104|
|      5|Sandeep Singh|      105|         Mathematics|      105|
+-------+-------------+---------+--------------------+---------+

In [0]:
# Right Join 

spark.sql("SELECT * FROM Student_info.Students RIGHT JOIN Student_info.Courses\
          ON Student_info.Students.Course_id = Student_info.Courses.Course_id" ).show()

+-------+-------------+---------+--------------------+---------+
|Roll_no|         Name|Course_id|         Course_name|Course_id|
+-------+-------------+---------+--------------------+---------+
|      1|   Amit Kumar|      101|    Computer Science|      101|
|      2|  Priya Patel|      102|Electrical Engine...|      102|
|      3| Rahul Sharma|      103|Mechanical Engine...|      103|
|      4|   Neha Gupta|      104|   Civil Engineering|      104|
|      5|Sandeep Singh|      105|         Mathematics|      105|
|   null|         null|     null|             Physics|      106|
|   null|         null|     null|           Chemistry|      107|
+-------+-------------+---------+--------------------+---------+

In [0]:
# Left Anti join

spark.sql("SELECT * FROM Student_info.Students Left ANTI JOIN Student_info.Courses\
          ON Student_info.Students.Course_id = Student_info.Courses.Course_id" ).show()

+-------+----+---------+
|Roll_no|Name|Course_id|
+-------+----+---------+
+-------+----+---------+

In [0]:
# Left Semi Join

spark.sql("SELECT * FROM Student_info.Students LEFT SEMI JOIN Student_info.Courses\
          ON Student_info.Students.Course_id = Student_info.Courses.Course_id" ).show()

+-------+-------------+---------+
|Roll_no|         Name|Course_id|
+-------+-------------+---------+
|      1|   Amit Kumar|      101|
|      2|  Priya Patel|      102|
|      3| Rahul Sharma|      103|
|      4|   Neha Gupta|      104|
|      5|Sandeep Singh|      105|
+-------+-------------+---------+

In [0]:
import pyspark.pandas as pd
import numpy as np

In [0]:

# DataFrame Created
Data = ({
    
    'Four Week Income of March':[1000,2500,1500,1200],
    'Four Week Income of may':[1000,5008,1004,2006]
               })

pandasDataFrame= pd.DataFrame(Data)
print(type(pandasDataFrame))
print(pandasDataFrame)

<class 'pyspark.pandas.frame.DataFrame'>
   Four Week Income of March  Four Week Income of may
0                       1000                     1000
1                       2500                     5008
2                       1500                     1004
3                       1200                     2006

In [0]:
# Function for total income

def Total_income_Monthwise(DF):                                 
   return DF[0]+DF[1]
  
Final_DF = pandasDataFrame.apply(Total_income_Monthwise)
print(Final_DF)

Four Week Income of March    3500
Four Week Income of may      6008
dtype: int64