In [1]:

from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

In [3]:
data=spark.read.csv(r"DEPT_DATA.CSV",header=True,inferSchema=True)

In [4]:
data.show()

+----------+-------+
|dept_name"|dept_id|
+----------+-------+
|   Finance|     10|
| Marketing|     20|
|     Sales|     30|
|        IT|     40|
+----------+-------+

In [5]:
from pyspark.sql.functions import lit
data.withColumn('Total_Staff',lit(10)).show()

+----------+-------+-----------+
|dept_name"|dept_id|Total_Staff|
+----------+-------+-----------+
|   Finance|     10|         10|
| Marketing|     20|         10|
|     Sales|     30|         10|
|        IT|     40|         10|
+----------+-------+-----------+

In [10]:
data.withColumn('Total_Staff',data.dept_id*5).show()

+----------+-------+-----------+
|dept_name"|dept_id|Total_Staff|
+----------+-------+-----------+
|   Finance|     10|         50|
| Marketing|     20|        100|
|     Sales|     30|        150|
|        IT|     40|        200|
+----------+-------+-----------+

In [14]:
from pyspark.sql.functions import concat_ws

In [17]:
data.withColumn('Details',concat_ws('-','dept_id','dept_name"')).show()

+----------+-------+------------+
|dept_name"|dept_id|     Details|
+----------+-------+------------+
|   Finance|     10|  10-Finance|
| Marketing|     20|20-Marketing|
|     Sales|     30|    30-Sales|
|        IT|     40|       40-IT|
+----------+-------+------------+

In [21]:
# Reading Text file
df1 = spark.read.text("sample.txt") 

df1.selectExpr("split(value, ' ') as Text_Data").show(4,False)

+----------------------------------------------------------------+
|Text_Data                                                       |
+----------------------------------------------------------------+
|[Hii!!, My, name, is, pratik, arun, wani., I, am, IT, Engineer.]|
+----------------------------------------------------------------+

In [22]:
# Reading CSV file
df2 = spark.read.text("DEPT_DATA.CSV") 

df2.selectExpr("split(value, ' ') as Text_Data").show(4,False)

+----------------------+
|Text_Data             |
+----------------------+
|[dept_name","dept_id"]|
|["Finance",10]        |
|["Marketing",20]      |
|["Sales",30]          |
+----------------------+
only showing top 4 rows