In [31]:
from pyspark.sql import SparkSession

In [32]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

In [33]:
data=spark.read.csv(r"C:\Users\dell\OneDrive\Documents\Desktop\Hexaware_Data_Engineering_Batch1\PySpark\Codes\salary.csv",header=True,inferSchema=True)

In [34]:
data.show()

+------+----+------+
|  Name|Dept|Salary|
+------+----+------+
|Pratik|   A|500000|
| Vikki|   A| 60000|
| Rushi|   B| 90000|
|Shravi|   B|500000|
|Sweeha|   C|100000|
| Sanvi|   C|200000|
|Spruha|NULL|100000|
|  Arun|   B|  NULL|
|  NULL|   A|500000|
+------+----+------+

In [35]:
data.groupBy('Dept').avg('Salary').show()

+----+-----------------+
|Dept|      avg(Salary)|
+----+-----------------+
|NULL|         100000.0|
|   B|         295000.0|
|   C|         150000.0|
|   A|353333.3333333333|
+----+-----------------+

In [36]:
data.groupBy('Dept').agg({'Dept':'count','Salary':'sum'}).show()

+----+-----------+-----------+
|Dept|sum(Salary)|count(Dept)|
+----+-----------+-----------+
|NULL|     100000|          0|
|   B|     590000|          3|
|   C|     300000|          2|
|   A|    1060000|          3|
+----+-----------+-----------+

In [37]:
from pyspark.sql import functions as F
data.groupBy('Dept').sum("Salary").select(F.col("Dept").alias("Department_Name"),
                                        F.col("sum(Salary)").alias("Departmentwise_sum")).show()

+---------------+------------------+
|Department_Name|Departmentwise_sum|
+---------------+------------------+
|           NULL|            100000|
|              B|            590000|
|              C|            300000|
|              A|           1060000|
+---------------+------------------+

In [38]:
data.groupBy("Dept").pivot("Name").sum("salary").show()

+----+------+----+------+-----+------+------+------+------+-----+
|Dept|  null|Arun|Pratik|Rushi| Sanvi|Shravi|Spruha|Sweeha|Vikki|
+----+------+----+------+-----+------+------+------+------+-----+
|NULL|  NULL|NULL|  NULL| NULL|  NULL|  NULL|100000|  NULL| NULL|
|   B|  NULL|NULL|  NULL|90000|  NULL|500000|  NULL|  NULL| NULL|
|   C|  NULL|NULL|  NULL| NULL|200000|  NULL|  NULL|100000| NULL|
|   A|500000|NULL|500000| NULL|  NULL|  NULL|  NULL|  NULL|60000|
+----+------+----+------+-----+------+------+------+------+-----+

In [39]:
#entered null values here
data.show()

+------+----+------+
|  Name|Dept|Salary|
+------+----+------+
|Pratik|   A|500000|
| Vikki|   A| 60000|
| Rushi|   B| 90000|
|Shravi|   B|500000|
|Sweeha|   C|100000|
| Sanvi|   C|200000|
|Spruha|NULL|100000|
|  Arun|   B|  NULL|
|  NULL|   A|500000|
+------+----+------+

In [40]:
data.na.drop().show()

+------+----+------+
|  Name|Dept|Salary|
+------+----+------+
|Pratik|   A|500000|
| Vikki|   A| 60000|
| Rushi|   B| 90000|
|Shravi|   B|500000|
|Sweeha|   C|100000|
| Sanvi|   C|200000|
+------+----+------+

In [53]:
data.na.drop(how="all").show()

+------+----+------+
|  Name|Dept|Salary|
+------+----+------+
|Pratik|   A|500000|
| Vikki|   A| 60000|
| Rushi|   B| 90000|
|Shravi|   B|500000|
|Sweeha|   C|100000|
| Sanvi|   C|200000|
|Spruha|NULL|100000|
|  Arun|   B|  NULL|
|  NULL|   A|500000|
+------+----+------+

In [54]:
data.na.drop(how="any",thresh=2).show()
data.na.drop(how="any",thresh=3).show()

+------+----+------+
|  Name|Dept|Salary|
+------+----+------+
|Pratik|   A|500000|
| Vikki|   A| 60000|
| Rushi|   B| 90000|
|Shravi|   B|500000|
|Sweeha|   C|100000|
| Sanvi|   C|200000|
|Spruha|NULL|100000|
|  Arun|   B|  NULL|
|  NULL|   A|500000|
+------+----+------+

+------+----+------+
|  Name|Dept|Salary|
+------+----+------+
|Pratik|   A|500000|
| Vikki|   A| 60000|
| Rushi|   B| 90000|
|Shravi|   B|500000|
|Sweeha|   C|100000|
| Sanvi|   C|200000|
+------+----+------+

In [55]:
data.na.drop(how='any',subset=['Salary']).show()

+------+----+------+
|  Name|Dept|Salary|
+------+----+------+
|Pratik|   A|500000|
| Vikki|   A| 60000|
| Rushi|   B| 90000|
|Shravi|   B|500000|
|Sweeha|   C|100000|
| Sanvi|   C|200000|
|Spruha|NULL|100000|
|  NULL|   A|500000|
+------+----+------+

In [60]:
(data.na.fill('Not known')).na.fill(0).show()

+---------+---------+------+
|     Name|     Dept|Salary|
+---------+---------+------+
|   Pratik|        A|500000|
|    Vikki|        A| 60000|
|    Rushi|        B| 90000|
|   Shravi|        B|500000|
|   Sweeha|        C|100000|
|    Sanvi|        C|200000|
|   Spruha|Not known|100000|
|     Arun|        B|     0|
|Not known|        A|500000|
+---------+---------+------+

In [63]:
data.sort('Salary','Dept').show()

+------+----+------+
|  Name|Dept|Salary|
+------+----+------+
|  Arun|   B|  NULL|
| Vikki|   A| 60000|
| Rushi|   B| 90000|
|Spruha|NULL|100000|
|Sweeha|   C|100000|
| Sanvi|   C|200000|
|Pratik|   A|500000|
|  NULL|   A|500000|
|Shravi|   B|500000|
+------+----+------+

In [64]:
data.sort(data['Salary'].desc()).show()

+------+----+------+
|  Name|Dept|Salary|
+------+----+------+
|Pratik|   A|500000|
|Shravi|   B|500000|
|  NULL|   A|500000|
| Sanvi|   C|200000|
|Sweeha|   C|100000|
|Spruha|NULL|100000|
| Rushi|   B| 90000|
| Vikki|   A| 60000|
|  Arun|   B|  NULL|
+------+----+------+