In [3]:

from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

In [5]:
data1=spark.read.csv(r"EMP_DATA.CSV",header=True,inferSchema=True)
data2=spark.read.csv(r"DEPT_DATA.CSV",header=True,inferSchema=True)

In [6]:
data1.show()
data2.show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|  NULL|    -1|
|     6|   Brown|              2|       2010|         50|  NULL|    -1|
+------+--------+---------------+-----------+-----------+------+------+

+----------+-------+
|dept_name"|dept_id|
+----------+-------+
|   Finance|     10|
| Marketing|     20|
|     Sales|     30|
|        IT|     40|
+----------+-------+

In [9]:
#Inner Join
data1.join(data2,data1.emp_dept_id==data2.dept_id,"inner").na.fill('UnKnown').show()

+------+--------+---------------+-----------+-----------+-------+------+----------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id| gender|salary|dept_name"|dept_id|
+------+--------+---------------+-----------+-----------+-------+------+----------+-------+
|     1|   Smith|             -1|       2018|         10|      M|  3000|   Finance|     10|
|     2|    Rose|              1|       2010|         20|      M|  4000| Marketing|     20|
|     3|Williams|              1|       2010|         10|      M|  1000|   Finance|     10|
|     4|   Jones|              2|       2005|         10|      F|  2000|   Finance|     10|
|     5|   Brown|              2|       2010|         40|UnKnown|    -1|        IT|     40|
+------+--------+---------------+-----------+-----------+-------+------+----------+-------+

In [10]:
#Outer Join
data1.join(data2,data1.emp_dept_id==data2.dept_id,"outer").show()

+------+--------+---------------+-----------+-----------+------+------+----------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name"|dept_id|
+------+--------+---------------+-----------+-----------+------+------+----------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|   Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|   Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|   Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000| Marketing|     20|
|  NULL|    NULL|           NULL|       NULL|       NULL|  NULL|  NULL|     Sales|     30|
|     5|   Brown|              2|       2010|         40|  NULL|    -1|        IT|     40|
|     6|   Brown|              2|       2010|         50|  NULL|    -1|      NULL|   NULL|
+------+--------+---------------+-----------+-----------+------+------+----------+-------+

In [11]:
# Full join
data1.join(data2,data1.emp_dept_id==data2.dept_id,"full").show()

+------+--------+---------------+-----------+-----------+------+------+----------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name"|dept_id|
+------+--------+---------------+-----------+-----------+------+------+----------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|   Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|   Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|   Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000| Marketing|     20|
|  NULL|    NULL|           NULL|       NULL|       NULL|  NULL|  NULL|     Sales|     30|
|     5|   Brown|              2|       2010|         40|  NULL|    -1|        IT|     40|
|     6|   Brown|              2|       2010|         50|  NULL|    -1|      NULL|   NULL|
+------+--------+---------------+-----------+-----------+------+------+----------+-------+

In [12]:
# left join
data1.join(data2,data1.emp_dept_id==data2.dept_id,"left").show()

+------+--------+---------------+-----------+-----------+------+------+----------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name"|dept_id|
+------+--------+---------------+-----------+-----------+------+------+----------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|   Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000| Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|   Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|   Finance|     10|
|     5|   Brown|              2|       2010|         40|  NULL|    -1|        IT|     40|
|     6|   Brown|              2|       2010|         50|  NULL|    -1|      NULL|   NULL|
+------+--------+---------------+-----------+-----------+------+------+----------+-------+

In [13]:
# Right join
data1.join(data2,data1.emp_dept_id==data2.dept_id,"right").show()

+------+--------+---------------+-----------+-----------+------+------+----------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name"|dept_id|
+------+--------+---------------+-----------+-----------+------+------+----------+-------+
|     4|   Jones|              2|       2005|         10|     F|  2000|   Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|   Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|   Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000| Marketing|     20|
|  NULL|    NULL|           NULL|       NULL|       NULL|  NULL|  NULL|     Sales|     30|
|     5|   Brown|              2|       2010|         40|  NULL|    -1|        IT|     40|
+------+--------+---------------+-----------+-----------+------+------+----------+-------+

In [14]:
# LeftSemi join
data1.join(data2,data1.emp_dept_id==data2.dept_id,"leftsemi").show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|  NULL|    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [15]:
data1.join(data2,data1.emp_dept_id==data2.dept_id,"leftanti").show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     6|Brown|              2|       2010|         50|  NULL|    -1|
+------+-----+---------------+-----------+-----------+------+------+