In [0]:
from pyspark.sql import SparkSession
 

spark = SparkSession.builder.appName('practice2').getOrCreate()
 

data = [('Ram', '1991-04-01', 'M', 3000),
       ('Mike', '2000-05-19', 'M', 4000),
       ('Rohini', '1978-09-05', 'M', 4000),
       ('Maria', '1967-12-01', 'F', 4000),
       ('Jenis', '1980-02-17', 'F', 1200)]
 

columns = ["Name", "DOB", "Gender", "salary"]
 

df = spark.createDataFrame(data=data,schema=columns)
df.printSchema()
df.show()

root
 |-- Name: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+----------+------+------+
|  Name|       DOB|Gender|salary|
+------+----------+------+------+
|   Ram|1991-04-01|     M|  3000|
|  Mike|2000-05-19|     M|  4000|
|Rohini|1978-09-05|     M|  4000|
| Maria|1967-12-01|     F|  4000|
| Jenis|1980-02-17|     F|  1200|
+------+----------+------+------+

In [0]:
df.withColumnRenamed('DOB','DateOfBirth').printSchema()
df.withColumnRenamed('DOB','DateOfBirth').show()

root
 |-- Name: string (nullable = true)
 |-- DateOfBirth: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+-----------+------+------+
|  Name|DateOfBirth|Gender|salary|
+------+-----------+------+------+
|   Ram| 1991-04-01|     M|  3000|
|  Mike| 2000-05-19|     M|  4000|
|Rohini| 1978-09-05|     M|  4000|
| Maria| 1967-12-01|     F|  4000|
| Jenis| 1980-02-17|     F|  1200|
+------+-----------+------+------+

In [0]:
df.withColumnRenamed("Gender","Sex").withColumnRenamed("salary","Amount").show()

+------+----------+---+------+
|  Name|       DOB|Sex|Amount|
+------+----------+---+------+
|   Ram|1991-04-01|  M|  3000|
|  Mike|2000-05-19|  M|  4000|
|Rohini|1978-09-05|  M|  4000|
| Maria|1967-12-01|  F|  4000|
| Jenis|1980-02-17|  F|  1200|
+------+----------+---+------+

In [0]:
from pyspark.sql.functions import col

data=df.select(col("Name"),col("DOB"),col("Gender"),col("salary").alias('Amount'))
data.show()

+------+----------+------+------+
|  Name|       DOB|Gender|Amount|
+------+----------+------+------+
|   Ram|1991-04-01|     M|  3000|
|  Mike|2000-05-19|     M|  4000|
|Rohini|1978-09-05|     M|  4000|
| Maria|1967-12-01|     F|  4000|
| Jenis|1980-02-17|     F|  1200|
+------+----------+------+------+

In [0]:

Data_list = ["Employee Name","Date of Birth",
             " Male/Female","Paid salary"]
 
new_df = df.toDF(*Data_list)
new_df.show()

+-------------+-------------+------------+-----------+
|Employee Name|Date of Birth| Male/Female|Paid salary|
+-------------+-------------+------------+-----------+
|          Ram|   1991-04-01|           M|       3000|
|         Mike|   2000-05-19|           M|       4000|
|       Rohini|   1978-09-05|           M|       4000|
|        Maria|   1967-12-01|           F|       4000|
|        Jenis|   1980-02-17|           F|       1200|
+-------------+-------------+------------+-----------+