In [3]:

import pyspark

import findspark

findspark.init()


from pyspark import SparkContext

sc = SparkContext("local", "RDD Transformation")

sc

10

In [11]:
count_rdd = sc.parallelize([1,2,3,4,5,5,6,7,8,9])

print(count_rdd.count())

10

In [4]:
reduce_rdd = sc.parallelize([1,3,4,6])

print(reduce_rdd.reduce(lambda x, y : x + y))

14

In [7]:
take_rdd = sc.parallelize([1,2,6,7])
print(take_rdd.take(3))

[1, 2, 6]

In [8]:
first_rdd = sc.parallelize([1,2,3,4,5,6,9])
print(first_rdd.first())

1

In [10]:
map_rdd=sc.parallelize([1,2,3,4])
temp=(map_rdd.map(lambda x:x**2))
temp.collect()

[1, 4, 9, 16]

In [12]:
filter_rdd = sc.parallelize([2, 3, 4, 5, 6, 7])
print(filter_rdd.filter(lambda x: x%2 == 0).collect())

[2, 4, 6]

In [13]:
all= sc.parallelize([2,4,5,6,7,8,9])
even= all.filter(lambda x: x % 2 == 0)
odd = all.filter(lambda x: x % 2 != 0)
print(even.union(odd).collect())

[2, 4, 6, 8, 5, 7, 9]

In [16]:
flatmap_rdd = sc.parallelize(["Hey My name is Pratik Arun Wani", "This is my 1st PySpark RDD Transformations program"])
(flatmap_rdd.flatMap(lambda x: x.split(" ")).collect())

['Hey',
 'My',
 'name',
 'is',
 'Pratik',
 'Arun',
 'Wani',
 'This',
 'is',
 'my',
 '1st',
 'PySpark',
 'RDD',
 'Transformations',
 'program']

In [17]:
marks = [('Pratik', 88), ('Jagan', 91), ('Shirin', 90), ('Abhijeet', 90), ('John', 71)]
sc.parallelize(marks).collect()

[('Pratik', 88), ('Jagan', 91), ('Shirin', 90), ('Abhijeet', 90), ('John', 71)]

In [28]:
marks_rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23),
                            ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22),('Rohan', 22)])
print(marks_rdd.reduceByKey(lambda x,y : x*y ).collect())

[('Rahul', 575), ('Swati', 494), ('Shreya', 616), ('Abhay', 754), ('Rohan', 10648)]

In [21]:
marks_rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), 
                            ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
print(marks_rdd.sortByKey().collect())

[('Abhay', 29), ('Abhay', 26), ('Rahul', 25), ('Rahul', 23), ('Rohan', 22), ('Rohan', 22), ('Shreya', 22), ('Shreya', 28), ('Swati', 26), ('Swati', 19)]

In [26]:
marks_rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), 
                            ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
dict_rdd = marks_rdd.groupByKey().collect()
for item in dict(dict_rdd).items():
    print(item[0]," ",list(item[1]))

Rahul   [25, 23]
Swati   [26, 19]
Shreya   [22, 28]
Abhay   [29, 26]
Rohan   [22, 22]

In [27]:
marks_rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Rohan', 22), ('Rahul', 23),
                            ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
dict_rdd = marks_rdd.countByKey().items()
for key, value in dict_rdd:
    print(key, value)

Rahul 2
Swati 2
Rohan 2
Shreya 1
Abhay 1