In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName("firstsession").getOrCreate()

In [0]:
# Creating Database in spark sql

spark.sql("CREATE DATABASE IF NOT EXISTS ct")

Out[16]: DataFrame[]

In [0]:
# Creating table 

spark.sql("CREATE TABLE if not exists ct.sampleTable (number Int, word String)")

Out[18]: DataFrame[]

In [0]:
spark.sql("INSERT INTO ct.sampleTable VALUES (124,'Yogita Yeole')")

Out[19]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("SELECT * FROM ct.sampleTable").show()

+------+------------+
|number|        word|
+------+------------+
|   124|Yogita Yeole|
|   123| Pratik Wani|
+------+------------+

In [0]:
# Alter Table 
spark.sql("ALTER TABLE ct.sampleTable ADD columns (salary int, DOB timestamp);")

Out[25]: DataFrame[]

In [0]:
spark.sql("select * from ct.sampletable").show()

+------+------------+------+-------------------+
|number|        word|salary|                DOB|
+------+------------+------+-------------------+
|   123| Pratik Wani|100000|2002-03-10 00:00:00|
|   124|Yogita Yeole|100000|               null|
+------+------------+------+-------------------+

In [0]:
spark.sql("use ct")

Out[34]: DataFrame[]

In [0]:
# Updating the records

spark.sql("UPDATE ct.sampletable set salary=100000")

Out[41]: DataFrame[num_affected_rows: bigint]

In [0]:
spark.sql("UPDATE ct.sampletable set DOB='2002-03-10' where number=123 ")

Out[43]: DataFrame[num_affected_rows: bigint]

In [0]:
spark.sql("UPDATE ct.sampletable set DOB='1995-06-24' where number=124 ")

Out[45]: DataFrame[num_affected_rows: bigint]

In [0]:
spark.sql("select * from ct.sampletable").show()

+------+------------+------+-------------------+
|number|        word|salary|                DOB|
+------+------------+------+-------------------+
|   124|Yogita Yeole|100000|1995-06-24 00:00:00|
|   123| Pratik Wani|100000|2002-03-10 00:00:00|
+------+------------+------+-------------------+

In [0]:
# inserted more data in table

spark.sql("INSERT INTO ct.sampletable (number, word, salary, DOB) VALUES\
(125, 'John Doe', 80000, '1990-05-15 00:00:00'),\
(126, 'Jane Smith', 90000, '1988-11-28 00:00:00'),\
(127, 'Alice Johnson', 95000, '1993-09-10 00:00:00'),\
(128, 'Bob Brown', 85000, '1995-03-20 00:00:00'),\
(129, 'Emily Davis', 82000, '1997-07-05 00:00:00'),\
(130, 'Michael Wilson', 87000, '1985-12-12 00:00:00'),\
(131, 'Sarah Miller', 91000, '1982-04-30 00:00:00'),\
(132, 'David Garcia', 92000, '1989-08-18 00:00:00'),\
(133, 'Jessica Martinez', 93000, '1991-02-25 00:00:00'),\
(134, 'Daniel Taylor', 94000, '1998-06-08 00:00:00');\
")

Out[51]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
# Total number of rows in table
spark.sql("select count(*) from ct.sampletable").show()

+--------+
|count(1)|
+--------+
|      12|
+--------+

In [0]:
#  Sorted the data salary wise 

spark.sql("select * from ct.sampletable order by salary desc").show()

+------+----------------+------+-------------------+
|number|            word|salary|                DOB|
+------+----------------+------+-------------------+
|   123|     Pratik Wani|100000|2002-03-10 00:00:00|
|   124|    Yogita Yeole|100000|1995-06-24 00:00:00|
|   127|   Alice Johnson| 95000|1993-09-10 00:00:00|
|   134|   Daniel Taylor| 94000|1998-06-08 00:00:00|
|   133|Jessica Martinez| 93000|1991-02-25 00:00:00|
|   132|    David Garcia| 92000|1989-08-18 00:00:00|
|   131|    Sarah Miller| 91000|1982-04-30 00:00:00|
|   126|      Jane Smith| 90000|1988-11-28 00:00:00|
|   130|  Michael Wilson| 87000|1985-12-12 00:00:00|
|   128|       Bob Brown| 85000|1995-03-20 00:00:00|
|   129|     Emily Davis| 82000|1997-07-05 00:00:00|
|   125|        John Doe| 80000|1990-05-15 00:00:00|
+------+----------------+------+-------------------+

In [0]:
spark.sql("alter table ct.sampletable add column (department string)")

Out[55]: DataFrame[]

In [0]:
# Updating the data in new added columns

spark.sql("update ct.sampletable set department='Data Engineeing' where number In(123,124,125,126)")
spark.sql("update ct.sampletable set department='Developers' where number In(127,128,129,130)")
spark.sql("update ct.sampletable set department='Testers' where number In(131,132,133,134)")

Out[56]: DataFrame[num_affected_rows: bigint]

In [0]:
# Department wise maximun salary
spark.sql("select department, max(salary) from ct.sampletable group by department").show()

+---------------+-----------+
|     department|max(salary)|
+---------------+-----------+
|     Developers|      95000|
|        Testers|      94000|
|Data Engineeing|     100000|
+---------------+-----------+

In [0]:
# create data frame
df = spark.read.csv("/FileStore/tables/student_salary_info-2.csv")

In [0]:
# created a temp view
df.createOrReplaceTempView('Student')

In [0]:
spark.sql("select * from Student").show()

+------+---+------+
|   _c0|_c1|   _c2|
+------+---+------+
|  Name|Age|Salary|
|Pratik| 21| 50000|
| Vikas| 23|100000|
| Rushi| 22|120000|
+------+---+------+